
/* Nav */
.navbar {
    background-color: #046CB8;
  }
  .nav-item {
    margin-right: 20px; /* Espacio entre los elementos del nav */
  }
  a.nav-link{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .navbar-brand {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
  }
  .fotoperfil {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .dropdown-menu {
    right: 0; /* Asegura que el menú se alinee a la derecha */
    left: auto;
  }

 /*Contact*/
 .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
  }
  .contact-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
  }
  .contact-title {
    font-size: 2.3rem;
    text-align: center;
  }
  .contact-form h2{
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
  }
  .btn-submit {
    background: linear-gradient(to right, #f6d365, #fda085);
    border: none;
    color: white;
  }



/*Footer*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: sticky;
}
