html, body {
    height: 100%;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #E18BF8 0%, #FF86D2 27%, #FFB17D 55%, #FFFF99 74%, #FFD567 85.5%, #F9F871 100%);

    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Nav */
.navbar {
    background-color: #fff;
  }
  .nav-item {
    margin-right: 20px; /* Espacio entre los elementos del nav */
  }
  a.nav-link{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .navbar-brand {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
  }
  .fotoperfil {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .dropdown-menu {
    right: 0; /* Asegura que el menú se alinee a la derecha */
    left: auto;
  }


/*Footer*/

    footer {
        text-align: center;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        position: inherit;
    }
