/* Contenedor principal */
.devcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Cuadro individual */
.cuadro {
    background: #046CB8;
    width: 90%;
    max-width: 350px;
    height: 450px;
    text-align: center;
    padding: 22px;
    margin: 15px;
    border-radius: 60px;
    
}

/* Ajustes para pantallas grandes */
@media (min-width: 768px) {
    .cuadro {
        width: 40%;
        max-width: 350px;
        height: auto;
        overflow: auto;
    }
}

@media (min-width: 1200px) {
    .cuadro {
        width: 100%;
        height: 90%;
        overflow: auto;
    }
}

/* Ventana modal */
.ventanadev1, .ventanadev2, .ventanadev3, .ventanadev4, .ventanadev5, .ventanadev6, .ventanadev7, .ventanadev8 {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #111111bd;
    opacity: 0;
    pointer-events: none;
}

/* Estilo mostrar ventana */
.ventanadev1_mostrar, .ventanadev2_mostrar, .ventanadev3_mostrar, .ventanadev4_mostrar, .ventanadev5_mostrar, .ventanadev6_mostrar, .ventanadev7_mostrar, .ventanadev8_mostrar {
    opacity: 1;
    pointer-events: unset;
}

/* Contenido de la ventana modal */
.infodev1, .infodev2, .infodev3, .infodev4, .infodev5, .infodev6, .infodev7, .infodev8 {
<<<<<<< HEAD
    background-color: #d4b5ebbb;
=======
    background-color: rgba(162, 216, 241, 0.712);
>>>>>>> 4ebe86a08401f939d42f37559eb9ddf2a1054244
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    padding: 3em 2.5em;
    gap: 1em;
    place-items: center;
<<<<<<< HEAD
    border: 1px solid rgba(129, 99, 158, 0.712);
    border-radius: 60px;
=======
    border: 1px solid rgba(99, 139, 158, 0.712);
    border-radius: 50px;
>>>>>>> 4ebe86a08401f939d42f37559eb9ddf2a1054244
    box-shadow: 0 0 10px #61baad;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Hacer imágenes responsivas dentro de infodev */
.infodev1 img, .infodev2 img, .infodev3 img, .infodev4 img, .infodev5 img, .infodev6 img, .infodev7 img, .infodev8 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.infodev1 p, .infodev2 p, .infodev3 p, .infodev4 p, .infodev5 p, .infodev6 p, .infodev7 p, .infodev8 p {
    text-align: justify;
}

@media (min-width: 768px) {
    .infodev1, .infodev2, .infodev3, .infodev4, .infodev5, .infodev6, .infodev7, .infodev8 {
        padding: 2em 2em;
<<<<<<< HEAD
        font-size: 14px;
=======
        font-size: 13px;
>>>>>>> 4ebe86a08401f939d42f37559eb9ddf2a1054244
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 767px) {
    .infodev1, .infodev2, .infodev3, .infodev4, .infodev5, .infodev6, .infodev7, .infodev8 {
        padding: 1.5em 1.5em;
        font-size: 11px;
        width: 95%;
        max-width: 300px;
    }
}

    .infodev1 p, .infodev2 p, .infodev3 p, .infodev4 p, .infodev5 p, .infodev6 p, .infodev7 p, .infodev8 p {
        text-align: justify;
    }


/* Botón de cierre */
.cerrardev1, .cerrardev2, .cerrardev3, .cerrardev4, .cerrardev5, .cerrardev6, .cerrardev7, .cerrardev8 {
    color: #050505;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrardev1:hover, .cerrardev2:hover, .cerrardev3:hover, .cerrardev4:hover, .cerrardev5:hover, .cerrardev6:hover, .cerrardev7:hover, .cerrardev8:hover {
    color: #8a2bea;
    text-decoration: none;
    cursor: pointer;
}

/* Botón para abrir la ventana modal */
#abrirVentanadev1, #abrirVentanadev2, #abrirVentanadev3, #abrirVentanadev4, #abrirVentanadev5, #abrirVentanadev6, #abrirVentanadev7, #abrirVentanadev8 {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}