/* Nav */
.navbar {
    background-color: #046CB8;
    color: #FFFFFF;
}
.nav-item {
    margin-right: 20px; /* Espacio entre los elementos del nav */
}
a.nav-link {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.navbar-brand {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
    color: #FFFFFF;
}
.logoOficial {
    width: 150px;
    color: #ffffff;
}

.fotoperfil {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.dropdown-menu {
    right: 0; /* Asegura que el menú se alinee a la derecha */
    left: auto;
}
.navbar .navbar-toggler {
    background-color: #ffffff;
    color: #046CB8;
    border: none;
}

.btn-buscar {
    background-color: #ffffff;
    color: #046CB8;
    border: none;
    height: 38px;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 16px;
    font-family: "Comic Neue", cursive;
    cursor: pointer;
    margin-right: 10px;
}
.btn-buscar:hover {
    background-color: #04b822;
    color: #ffffff;
}

.logoOficial {
    max-height: 38px;
    width: auto;
    filter: invert(100%);
}

/* GRID */
.grid-container>* {
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    margin: 0;
}

.navbar {
    grid-area: navbar;
}

.publicaciones {
    grid-area: publicaciones;
}

.publicidad {
    grid-area: publicidad;
}

.footer {
    grid-area: footer;
}

/* Vista para el teléfono */
.grid-container {
    display: grid;
    gap: 0px; /* 15 px para hacer el gap de las columnas */
    grid-template-columns: auto;
    grid-template-areas:
        "navbar"
        "publicaciones"
        "publicidad"
        "footer";
}

/* Vista tablet */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-areas:
            "navbar navbar"
            "publicaciones publicaciones"
            "publicidad publicidad"
            "footer footer";
    }
}

/* Vista escritorio */
@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: 190px auto auto 190px;
        gap: 10px; /* Aplica gap solo en esta resolución */
        grid-template-areas:
            "navbar navbar navbar navbar"
            "publicaciones publicaciones publicaciones publicidad"
            "footer footer footer footer";
    }
}

/* PUBLICACIONES */
.publicaciones {
    width: 100%;
    margin: auto;
}

.publicaciones {
    .post .card {
        margin: auto;
        border-radius: 20px; /*CAMBIE AQUI*/
        /* Esquinas redondeadas */
        /*border: 2px solid #046CB8;
        /* Borde grueso de color azul */
        background-color:  rgb(170, 201, 229, 0.3);
        /* Fondo blanco */
        backdrop-filter: blur(1px);
        padding: 10px; /*CAMBIE AQUI*/
        /* Espacio interno */
        top: 20px;
        max-width: 850px; /*CAMBIE AQUI*/
        /*background-color: #f3f4f5;*/
    }
}

.crear-post {
    border-radius: 20px;
    border: 5px solid rgb(170, 201, 229);
    background-color: #ffffff;
    margin: 20px auto;
    padding: 10px;
    font-family: "Comic Neue", cursive;
    max-width: 600px;
    font-size: 1.4rem;
}
.crear-post .card-title {
    font-family: "Patrick Hand", cursive;
    font-size: 1.4rem;
}
.card-text {
    font-size: 1.2rem;
}
.detalle-usuario {
    display: flex;
    align-items: center;
    font-family: "Patrick Hand", cursive;
    font-size: 1.4rem; /*CAMBIE AQUI*/
}

.perfil-imagen img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.name-usuario {
    margin: 0;
    font-family: "Patrick Hand", cursive;
    font-size: 1.4rem; /*CAMBIE AQUI*/
}

.card-body-public {
    max-width: 100%;
    background: #86bcd6;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-poster {
    width: 100%;
    height: auto;
    margin: 0px auto;
    border-radius: 20px;
}

.post-text {
    text-align: justify;
    font-family: "Comic Neue", cursive;
    margin: 15px 0 0px;  /*CAMBIE AQUI*/
    padding-bottom: 10px; /* Espacio antes de la línea */
    font-size: 1.4 rem; /*CAMBIE AQUI*/

}

.date-act {
    
   /* text-align: left;
   /* padding-bottom: 10px; /* Espacio antes de la línea */
   /* font-size: 1.4 rem; /*CAMBIE AQUI*/
   /* margin-bottom: 10px;*/

    margin: 0;
    margin-left: 430px;
    font-family: "Patrick Hand", cursive;
    font-size: 1.4rem; /*CAMBIE AQUI*/
    text-align: right;

}
.name-usuario, .post-text, .date-act {
    font-size: 1.4rem; /*CAMBIE AQUI*/
}

.interacciones {
    text-align: center;
    margin-top: 2px;
}

.btn {
    margin-right: 10px;
    font-family: "Open Sans", sans-serif;
}

/* Publicidad */
.publicidad{
    margin-top: 20px;

}
.containers {
    display: grid;
    gap: 20px;

}
.container1, .container2 {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #928f8f;
    align-self: start;
    border-radius: 15px;
    max-width: 300px;
    margin: auto;
}
.container1 img, .container2 img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
}
.container1 a, .container2 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    bottom: 0;
    background-color: #046CB8;
    color: #FFFFFF;
}

/* Ajustes adicionales para responsividad */
@media (max-width: 600px) {
    .btn-buscar {
        width: 100%;
        margin: 10px 0;
    }
    .crear-post, .card-body-public {
        width: 90%;
    }
    .publicaciones {
        width: 100%;
    }
    .navbar-brand {
        font-size: 1.2rem;
    }
}

/*Comentarios*/

.comments-section {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
}
.comments-list {
    margin-top: 10px;
}
.comments-list p {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f8f9fa;
    border-radius: 5px;
}