body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #E18BF8 0%, #FF86D2 27%, #FFB17D 55%, #FFFF99 74%, #FFD567 85.5%, #F9F871 100%);
}

.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.navbar a{
    text-decoration: none ;
    color: #333;
    font-family: "Wellfleet", monospace;
    font-weight: 400;
    font-style: normal;
}
.fotoperfil{
    width: 50px;
}

.img-portada{
    width: 400px;
    height: 550px;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgb(15, 15, 15, .5);
    min-width: 10px;
    min-height: 50px;
}
.division{
    margin-right: 50px;
    margin-left: 50px;
}
.btn{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #E18BF8 0%, #FF86D2 27%, #FFB17D 55%, #FFFF99 74%, #FFD567 85.5%, #F9F871 100%);
}
.patrick-hand-regular navbar-brand {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}
